<div class="container-fluid upperLayer">
  <div class="container mainDiv">
    <div class="row">
      <div class="col-md-6 mainOne">
        <div class="div">
          <img src="../../../../assets/images/mIcon.svg" alt="" /><span
            >contact@testproject.com</span
          >
        </div>
        <div class="div2">
          <img src="../../../../assets/images/phoneIcon.svg" alt="" /><span
            >(123) 124-1234</span
          >
        </div>
      </div>
      <div class="col-md-6 secondPart">
        <span>© 2023 Test Project | All Rights Reserved</span>
      </div>
    </div>
  </div>
</div>
