.mainDiv {
  font-family: 'AvenirNextforINTUIT-Regular';
  padding: 0px 60px;
  color: #303030;;

}
.upperLayer {
  border-top: 2px solid #F2F8FD;
  padding: 35px 0px;
}
.mainOne {
  display: flex;
}
.div2 {
  margin-left: 30px;
}
.secondPart {
  text-align: right;
}
