
.home {
  font-family: 'AvenirNextforINTUIT-Regular';
}

.logoImage {
  width: 100%;

}
.firstPortion {
  padding: 6rem 0 3rem 0;
}
.btn-started {
  border: 1px solid #306FD5;
  padding: 4px 30px;
  border-radius: 24px;
  color: white;
  background-color: #306FD5;
  margin-right: 45%;
}
.time {
  font-family: "AvenirNextforINTUIT-Heavy";
  font-size: 15px;
  margin-right: 34%;
}
.future {
  font-family: 'AvenirNextforINTUIT-Bold';

}
.bookPortion {
  display: flex;
}
.estimatesRow {
  font-size: 25px;
  padding: 0px 33% 0 6%;
}
.book6 {
  height: 13rem;
  width: 13rem;
}
.secondPortion {
  font-family: 'AvenirNextforINTUIT-Medium';

}
