<div class="container-fluid home">
  <div class="container">
    <div class="firstPortion">
      <div class="row">
        <div class="col-md-6 d-flex flex-column justify-content-center">
          <h1 class="future">The Future</h1>
          <h1 class="future">of Estimating</h1>
          <p class="time">
            Your time is money, and we respect that. Register your company,
            install our mobile app, or log in on our web portal.
          </p>
          <button class="btn btn-started">
            Get Started
            <img src="../../../../assets/images/Polygon.svg" alt="" />
          </button>
        </div>
        <div class="col-md-6">
          <img
            class="logoImage"
            src="../../../../assets/images/Video.png"
            alt=""
          />
        </div>
      </div>
    </div>

    <div class="secondPortion">
      <div class="row">
        <div class="col-md-8">
          <div class="row estimatesRow">
            <p class="estimates">
              Estimates that save you time and communication with the carrier
            </p>
          </div>
          <div class="bookPortion">
            <div class="book1">
              <img class="" src="../../../../assets/images/book1.svg" alt="" />
              <p>The most accurate and documented estimates in the industry</p>
            </div>
            <div class="book2">
              <img class="" src="../../../../assets/images/book2.svg" alt="" />
              <p>Representation of the full scope of the project</p>
            </div>
            <div class="book3">
              <img class="" src="../../../../assets/images/book3.svg" alt="" />
              <p>Time Saving Estimates communication with the carrier</p>
            </div>
            <div class="book4">
              <img class="" src="../../../../assets/images/book4.svg" alt="" />
              <p>Proper Project valuation</p>
            </div>
            <div class="book5">
              <img class="" src="../../../../assets/images/book5.svg" alt="" />
              <p>Automated Process management with our free app</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <img class="book6" src="../../../../assets/images/book6.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
